<DOCCTYPE HTML>
<html>
    <head>


<style type="text/css">
.spacer{
  width:100%;
  height:5em;
}
</style>


        {% load staticfiles %}
<!-- Latest compiled and minified CSS -->

<!-- Latest compiled and minified CSS -->


<!-- jQuery library -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/af.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


 

<!-- Latest compiled and minified JavaScript -->


      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        <title>{% block head_title %}Tutorial Builder{% endblock %}</title>
    </head>
    <body>



<!--         -->
<div class = "spacer"></div>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
             <br>
    <!--   <img id="logo" src="http://i.imgur.com/LE8RZvK.png"> -->

          <a class="navbar-brand" href="/">Tutorial Builder</a> <br><br>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        {% if request.user.is_authenticated %}


         <li class="dropdown"> 
          <a href="#" id = "profile_options" class="dropdown-toggle" data-toggle="dropdown"> Profile <b class="caret"></b></a>
          <ul class="dropdown-menu">

            <li><a id="logout_link" href="/tb/logout_request">logout</a></li>
        

       

               <li class="dropdown"> 
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">View <b class="caret"></b></a>
          <ul class="dropdown-menu">

            <li><a href="/tb/live">Live Tutorial</a></li>

          </ul>
        </li>

        {% else %}


       </ul>
        </li>

     
       
      </ul>


        {% endif %}

    
      <!--
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">By location</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
       
      </ul>
    </div>< /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

        {% block content %}
       
        {% endblock %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->



    </body>


</html>

